/*
    Name: Leanne Afrifa
    File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  background: linear-gradient(180deg, #fff, #c46c4c 100%);
  background-attachment: fixed;
}
 
.welcome {
    margin-top: 10%;
}
 
.bg-brown {
    background-color: #c46c4c;
}
 
.text-brown {
    color: #c46c4c;
}

/* Desktop Viewport: Style rules for nav area */
nav ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    background-color: #c46c4c;
}
nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.5em;
    border-right: 1px solid white;
}
nav li:last-child {
    border-right: none;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none;
}
nav li a:hover, nav a:active {
    color: #c46c4c;
    background-color: #EADDCA;
    transform: scale(1.2);
}

/* Style rules for form elements */
fieldset, input, textarea {
  margin-bottom: 2%;
}
fieldset legend {
  font-weight: bold;
  font-size: 1.25em;
}
label {
  display: block;
  padding-top: 2%;
  color: #2f3f7b;
}
form h2 {
    text-align: center;
}
form #submit {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 2%;
  background-color: #c46c4c;
  color: #E2E9C5;
  font-size: 1.25em;
  border-radius: 10px;
}
input, textarea {
  color:#c46c4c;
}
input::placeholder, textarea::placeholder {
  opacity: 0.5;
  color: #2f3f7b;
}

/* Style rules for footer content */
footer {
    background-color: #c46c4c;
    text-align: center;
    font-size: 0.85em;
    clear: left;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
}
