/*
    Name: Leanne Afrifa
    File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(../images/music-notes.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
 
.welcome {
    margin-top: 10%;
}
 
.bg-brown {
    background-color: #c46c4c;
}
 
.text-brown {
    color: #c46c4c;
}

/* Desktop Viewport: Style rules for nav area */
  nav li a {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  nav li a:hover {
    color: #c46c4c;
    background-color: #C4A484;
    transform: scale(1.2);
  }

/* Style rules for footer content */
footer {
    text-align: center;
    font-size: 0.65em;
    clear: left;  
}
