/*
    Name: Leanne Afrifa
    File Name: styles.css
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, ul, section, aside, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    font-family: 'DM Serif Display', serif;
}

.hero {
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)),url(../images/header.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}
 
.welcome {
    margin-top: 10%;
}
 
.bg-brown {
    background-color: #c46c4c;
}
 
.text-brown {
    color: #c46c4c;
}

/* Desktop Viewport: Style rules for nav area */
nav ul {
    list-style-type: none;
    overflow: hidden;
    text-align: center;
    background-color: #c46c4c;
}
nav li {
    border-top: none;
    display: inline-block;
    font-size: 1.5em;
    border-right: 1px solid white;
}
nav li:last-child {
    border-right: none;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    text-decoration: none;
}
nav li a:hover {
    color: #c46c4c;
    background-color: #E1C16E;
    transform: scale(1.2);
}

/* Style rules for footer content */
footer {
    background-color: #c46c4c;
    text-align: center;
    font-size: 0.65em;
    clear: left;  
}
